table {
  border: 1px solid;
  width: 500px;
  margin-left: 30%;
}

td,
th {
  text-align: center;
  border: 1px solid;
}
div {
  margin-top: 10px;
  margin-left: 30%;
}

.out {
  background-color: white;
}

.over {
  background-color: pink;
}
